<?xml version="1.0"?>
<launch>

    <rosparam file="$(find rrbot)/config/arm_group_controller.yaml" command="load" />

    <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/arm" args="joint_state_controller gripper_controller joint_group_controller" />

</launch>